/* CSS BY NAME [Alisa Mulhall] */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --teal-: #4CA7C0;
    --purple-: #484FB7;
    --lavender-: #6B8FE7;
    --yellow-: #E9BB57;
    --pink-: #D9526F;
    --dk-gray: #1E1E1E;
    --white-: #ffffff;
    --font-stack: 'Inter';
    max-width: 450px;
    background-color: var(--lavender-);
}
h1, h2 {
    font-family: 'Kavoon';
}
h1 {
    font-size: 3em;
    color: var(--white-);
}
#nav h2 {
    font-size: 1.5em;
}
h2 {
    font-size: 2em;
    color: var(--white-);
    text-align: left;
    padding: 10px;
    
}
h3 {
    font-size: 1.5em;
    color: var(--yellow-);
    font-family: var(--font-stack);
}
h4 {
    font-size: 1.15em;
    color: var(--purple-);
    font-family: var(--font-stack);
}

#head1, #head2, #head3 {
    text-align: left;
    padding: 10px;
}
body {
    background-color: var(--purple-);
    text-align: center;
    font-family: var(--font-stack);
}
header {
    padding: 20px;
}
header p {
    color: var(--white-);
    margin-bottom: 20px;
    padding: 20px;
}
#nav {
    background-color: var(--yellow- );
    text-transform: uppercase;
    padding: 10px;
    font-family: var(--font-stack);
    font-weight: bold;
}
#nav h3 {
    color: var(--dk-gray);
    padding: 10px;
    font-style: italic;
}
#nav li {
    display: block;
    background-color: var(--white-);
    border: 1px solid #ccc;     
    padding: 12px;               
    margin: 0 20px 10px 20px;       
}
#nav a{
    text-decoration: none;
}
#services h3 {
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}
#personal {
    display: block;
    background-color: var(--white-);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    line-height: 24px;
}
#personal h4 {
    font-weight: bold;
    margin: 10px;
}
#personal p {
    margin: 10px;
}
#career {
    display: block;
    background-color: var(--white-);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    line-height: 24px;
}
#career h4 {
    font-weight: bold;
    margin: 10px;
}
#career p {
    margin: 10px;
}
#relationship {
    display: block;
    background-color: var(--white-);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    line-height: 24px;
}
#relationship h4 {
    font-weight: bold;
    margin: 10px;
}
#relationship p {
    margin: 10px;
}
#supportive {
    display: block;
    background-color: var(--white-);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    line-height: 24px;
}
#supportive h4 {
    font-weight: bold;
    margin: 10px;
}
#supportive p {
    margin: 10px;
}
#focused {
    display: block;
    background-color: var(--white-);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    line-height: 24px;
}
#focused h4 {
    font-weight: bold;
    margin: 10px;
}
#focused p {
    margin: 10px;
}
#interactive {
    display: block;
    background-color: var(--white-);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    line-height: 24px;
}
#interactive h4 {
    font-weight: bold;
    margin: 10px;
}
#interactive p {
    margin: 10px;
}
#flexible {
    display: block;
    background-color: var(--white-);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    line-height: 24px;
}
#flexible h4 {
    font-weight: bold;
    margin: 10px;
}
#flexible p {
    margin: 10px;
}
#why {
    display: block;
    background-color: var(--pink-)
}
#why h2 {
    text-align: left;
    padding: 10px;
}
#why ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style-type: none;
    padding: 0; 
    margin: 0;
}
#why li {
    padding: 40px;
    border-radius: 10px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}
#why li:nth-child(1) {
    background-color: var(--teal-);
  }
#why li:nth-child(2) {
    background-color: var(--lavender-);
  }
#why li:nth-child(3) {
    background-color: var(--yellow-);
  }
#why li:nth-child(4) {
    background-color: var(--white-);
  }
#table1 h3{
    text-align: left;
    padding: 10px;
}
#table1 table {
    width: 60%;
    background-color: var(--yellow-);
    border-collapse: separate;
    border-spacing: 2.5px; 
    padding: 10px;
    margin: 0 auto;
}
#table1 tbody td {
    background-color: var(--white-);
    padding: 15px 5px;
    text-align: center;
}
#table1 thead {
    font-weight: bold;
}
#table2 h3{
    text-align: left;
    padding: 10px;
}
#table2 table {
    width: 60%;
    background-color: var(--yellow-);
    border-collapse: separate;
    border-spacing: 2.5px; 
    padding: 10px;
    margin: 0 auto;
}
  
#table2 tbody td {
    background-color: var(--white-);
    padding: 15px 5px;
    text-align: center;
}
#table2 thead {
    font-weight: bold;
}
#table3 h3{
    text-align: left;
    padding: 10px;
}
#table3 table {
    width: 60%;
    background-color: var(--yellow-);
    border-collapse: separate;
    border-spacing: 2.5px; 
    padding: 10px;
    margin: 0 auto;
}
#table3 tbody td {
    background-color: var(--white-);
    padding: 15px 5px;
    text-align: center;
}
#table3 thead {
    font-weight: bold;
}
#table4 h3{
    text-align: left;
    padding: 10px;
}
#table4 table {
    width: 60%;
    background-color: var(--yellow-);
    border-collapse: separate;
    border-spacing: 2.5px; 
    padding: 10px;
    margin: 0 auto;
}
#table4 tbody td {
    background-color: var(--white-);
    padding: 15px 5px;
    text-align: center;
}
#table4 thead {
    font-weight: bold;
}
#step {
    display: block;
    background-color: var(--pink-);
    color: var(--white-);
    text-align: left;
    padding: 10px;
    line-height: 24px;
    margin-top: 20px;
}
#step a {
    display: block;
    background-color: var(--white-);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: var(--dk-gray);
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 4px 8px 
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: var(--white-);
    font-size: 0.5em;
  }
footer a {
    color: var(--white-);
}